.container {
  margin: 1% 5%;
 }

.container textarea {
  border: none;
  border-bottom: 5px solid;
  width: 100%;
  resize: none;
  font-weight: 600;
  background-color: inherit;
}

.container div {
  display: flex;
  justify-content: space-between;
}

.container .new-tweet {
  margin: 50px 0;
}

.container #submit-counter {
  font-family: 'Bungee', cursive;
}

.container input {
  background-color: #4056A1;
  color: white;
  padding: 1px 15px;
  cursor: pointer;
}

.negativeColor {
  color: red;
}

